body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    overflow-y: auto;
}

.container#blur.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

.card {
    max-width: 1000px;
    height: 70vh;
}

table {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    background-color: #e5e5e5;
}

table tr {
    padding: .45em;
}

thead tr {
    background-color: white;
    font-size: 1.15em;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

table th,
table td {
    font-size: 1em;
    padding: .5em;
    text-align: center;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc:not(:last-child)::after {
    content: "\25b4"
}

.table-sortable .th-sort-desc::after {
    content: "\25be"
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fb8883;
}

.table-sortable th:last-child {
    pointer-events: none;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .title {
    display: flex;
    gap: 10px;
}

.table__header .title h1 {
    font-size: 2rem;
}

.table__header .ri-add-circle-fill {
    color: #008000;
}

.table__header .input-group {
    width: 30%;
    height: 30px;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.table__header .input-group:hover {
    width: 31%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group input {
    width: 120%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__header .input-search {
    display: flex;
    align-content: center;  
    gap: 5px;
}

.table__header .input-search label {
    font-size: 1.2rem; 
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

.ri-edit-2-fill {
    color: #ffa500;
}

.ri-delete-bin-2-fill {
    color: #ff0000;
}

/* Popup de alerta para deletar */

.popup {
    width: 400px;
    background: var(--white);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    border-radius: 20px;
}

.open-popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}


.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 700;
    margin: 30px 0 10px;
}

.popup p {
    margin: 10px 0 30px;
}

.popup button {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    opacity: 50%;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    color: white;
}

.popup .btn-primary {
    background-color: #717171;
    opacity: 100%;
}

.popup .btn-primary:hover {
    opacity: 60%;
}

.popup .btn-danger {
    background-color: red;
    opacity: 100%;
}

.popup .btn-danger:hover {
    opacity: 60%;
}

/* Responsividade */

@media (max-width: 800px) {
    .container {
        width: 90%;
    }

    .table__header {
        height: auto;
        gap: 10px;
    }
}


@media (max-width: 426px) {
    .container {
        width: 100%;
        margin-bottom: 10px;
    }

    .card {
        width: 80%;
    }

    .table__header {
        flex-direction: column;
    }

    .table__header .input-group {
        width: 60%;
    }

    .table__header .input-group:hover {
        width: 61%;
    }

    h1 {
        font-size: 2.0rem;
    }

    table thead tr {
        display: none;
    }

    table tr {
        display: block;
    }

    table th,
    table td {
        padding: .5em;
    }

    table td {
        text-align: right;
        display: block;
        font-size: 1.6rem;
    }

    table td::before {
        content: attr(data-title);
        float: left;
        font-weight: 700;
    }

    tbody tr:nth-child(even) {
        background-color: var(--white);
    }

    .btn {
        font-size: 18px;
    }

    .table__header .title {
        gap: 5px;
    }

    .popup {
        width: 80%;
    }
}