{% extends 'index.html' %}
{% block content %}
<div class="container" id="blur">
    <div class="card">
        <section class="table__header">
            <div class="title">
                <h1>Colaborador</h1>
                <button class="btn" title="Criar">
                    <i class="ri-add-circle-fill"></i>
                </button>
            </div>

            <div class="input-group">
                <input type="search" name="search" id="search" placeholder="Pesquisar..." onkeyup="filterTable()">
                <i class="ri-search-line"></i>
            </div>
        </section>
        <section class="table__body">
            <table class="table-sortable" id="table-sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Setor</th>
                        <th>E-mail</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="ID">{{ id }}</td>
                        <td data-title="Nome">{{ nome }}</td>
                        <td data-title="Setor">{{ departamento }}</td>
                        <td data-title="E-mail">{{ email }}</td>
                        <td>
                            <button class="btn" type="submit" title="Editar">
                                <i class="ri-edit-2-fill"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn" type="submit" title="Deletar" onclick="openPopup()">
                                <i class="ri-delete-bin-2-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="popup" id="popup">
    <img src="{{url_for('static', filename='image/exclamation.png')}}" alt="">
    <h2>Cuidado!</h2>
    <p>Tem certeza que deseja deletar esse colaborador?</p>
    <button class="btn-primary" type="button" onclick="closePopup()">Cancelar</button>
    <button class="btn-danger">Deletar</button>
</div>

<div class="alert alert-reg">
    <i class="ri-checkbox-circle-fill"></i>
    <span class="reg-msg msg">Cadastrado com sucesso!</span>
    <span class="close-btn close-btn-reg">
        <i class="ri-close-line"></i>
    </span>
</div>

<div class="alert alert-del">
    <i class="ri-checkbox-circle-fill"></i>
    <span class="del-msg msg">Deletado com sucesso!</span>
    <span class="close-btn close-btn-del">
        <i class="ri-close-line"></i>
    </span>
</div>

<script src="{{ url_for('static', filename='js/listagem.js')}}"></script>

{% endblock %}