{% extends 'index.html' %}
{% block content %}
<div class="container" id="blur">
    <div class="card">
        <section class="table__header">
            <div class="title">
                <h1>Colaborador</h1>
                <button class="btn" title="Criar" onclick="openForm(this)" id="criar">
                    <i class="ri-add-circle-fill"></i>
                </button>
            </div>

            <div class="input-group">
                <input type="search" name="search" id="search" placeholder="Pesquisar..." onkeyup="filterTable()">
                <i class="ri-search-line"></i>
            </div>

            <!-- TODO: adicionar funcionalidade -->
            <div class="input-radio">
                <input type="radio" name="radioButton" id="ativo" checked>
                <label for="ativo">Ativo</label>
                
                <input type="radio" name="radioButton" id="inativo">
                <label for="inativo">Inativo</label>

                <input type="radio" name="radioButton" id="todos">
                <label for="todos">Todos</label>
            </div>
        </section>
        <section class="table__body">
            <table class="table-sortable" id="table-sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Setor</th>
                        <th>E-mail</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="wrapper" id="wrapper">
    <form action="" id="formColaborador">
        <h2 class="title" id="title-form"></h2>
        <div class="text-input">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="Informe o nome" required>
        </div>
        <div class="text-input">
            <label for="departamento">Setor</label>
            <input type="text" name="departamento" id="departamento" placeholder="Informe o departamento" required>
        </div>
        <div class="text-input">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Informe o e-mail" required>
        </div>
        <div class="text-input">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Informe a senha" required>
        </div>

        <div class="buttons">
            <button type="submit" class="btn-save" id="btn-save">Salvar</button>
            <button class="btn-primary" onclick="closeForm()">Cancelar</button>
        </div>
    </form>
</div>

<div class="popup" id="popup">
    <img src="{{url_for('static', filename='image/exclamation.png')}}" alt="">
    <h2>Cuidado!</h2>
    <p>Tem certeza que deseja deletar esse colaborador?</p>
    <button class="btn-primary" type="button" onclick="closePopup()">Cancelar</button>
    <button class="btn-danger" type="button" onclick="deletarColaborador()">Deletar</button>
</div>

<div class="alert alert-reg">
    <i class="ri-checkbox-circle-fill"></i>
    <span class="reg-msg msg">Salvo com sucesso!</span>
    <span class="close-btn close-btn-reg">
        <i class="ri-close-line"></i>
    </span>
</div>

<div class="alert alert-del">
    <i class="ri-checkbox-circle-fill"></i>
    <span class="del-msg msg">Deletado com sucesso!</span>
    <span class="close-btn close-btn-del">
        <i class="ri-close-line"></i>
    </span>
</div>

<script src="{{ url_for('static', filename='js/colaborador.js')}}"></script>
<script src="{{ url_for('static', filename='js/colaborador.service.js')}}"></script>

{% endblock %}