{% extends 'index.html' %}
{% block content %}
<div class="container" id="blur">
    <div class="card">
       <h1>Login</h1>        
    </div>
</div>

<div class="popup" id="popup">
    <img src="{{url_for('static', filename='image/exclamation.png')}}" alt="">
    <h2>Cuidado!</h2>
    <p>Tem certeza que deseja deletar esse líder?</p>
    <button class="btn-primary" type="button" onclick="closePopup()">Cancelar</button>
    <button class="btn-danger">Deletar</button>
</div>

<script src="{{ url_for('static', filename='js/listagem.js')}}"></script>

{% endblock %}