<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect | Login</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/image/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
</head>

<body>
    <div class="container">
        <div class="design">
            <div class="pill-1 rotate-45"></div>
            <div class="pill-2 rotate-45"></div>
            <div class="pill-3 rotate-45"></div>
            <div class="pill-4 rotate-45"></div>
        </div>
        <div class="login">
            <h3 class="title">Login</h3>
            <div class="text-input">
                <i class="ri-user-fill"></i>
                <input type="text" placeholder="Username">
            </div>
            <div class="text-input">
                <i class="ri-lock-fill"></i>
                <input type="password" placeholder="Password">
            </div>
            <button class="login-btn"  onclick="logar()">Sign In</button>
            <!-- <a onclick=showForgot() href="#" class="forgot">Forgot Password?</a> -->
            <div class="create">
                <a onclick=showCreate() class="btn" href="#">Cadastre-se</a>
                <i class="ri-arrow-right-fill"></i>
            </div>
        </div>

        <div class="new-account">
            <form action="" id="new-account">
                <h3 class="title">Criar Conta</h3>
                <div class="text-input">
                    <i class="ri-user-fill"></i>
                    <input type="text" name="usuario" id="usuario" placeholder="Username">
                </div>
                <div class="text-input">
                    <i class="ri-lock-fill"></i>
                    <input type="password" name="senha" id="senha" placeholder="Password">
                </div>
                <button type="button" class="login-btn" onclick="criarConta()">Cadastrar</button>
                <div class="create">
                    <a onclick=showLogin() class="btn" href="#">Logar</a>
                    <i class="ri-arrow-right-fill"></i>
                </div>
            </form>
        </div>

        <div class="forgot-password">
            <h3 class="title">Reset Password</h3>
            <div class="text-input">
                <i class="ri-mail-fill"></i>
                <input type="text" placeholder="Email">
            </div>
            <button class="login-btn">Reset Password</button>
            <div class="create">
                <a onclick=showLogin() class="btn" href="#">Sign In</a>
                <i class="ri-arrow-right-fill"></i>
            </div>
        </div>
    </div>



    <script src="{{url_for('static', filename='js/login.js')}}"></script>
    <script src="{{url_for('static', filename='js/login.service.js')}}"></script>
</body>

</html>